.education-div{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    position: relative;
}
.education{
    /* background-color: aqua; */
    /* padding-top: 40px; */
    width: 700px;
    height: 100%;
    margin:0  auto;
    overflow: scroll;

    text-align: center;
    text-justify: inter-word;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.education p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
h2{
    /* color:red; */
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}