.interest-div{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    position: relative;
}
.interest{
    /* background-color: aqua; */

    width: 600px;
    margin:0  auto;

    text-align: center;
    text-justify: inter-word;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.interest p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}