{% extends 'c_base.html' %}
{% load static %}
    hello
{% block profile %}
    <img style="align-content: center; border: 1px solid white; " src="{{ profile.image.url }}" alt="This is profile picture">
{% endblock %}

{% block profileName %}
        <h5 style="text-transform: uppercase;">{{profile.name}}</h5>
{% endblock %}

{% block content %}
    <h3 style="text-align: center; padding-top: 100px;">
        Welcome,
        <span style="color: rgb(30, 117, 88);">{{ profile.name }}</span><br>
        Dashboard here.
    </h3>
{% endblock %}

{% block rightsname %}
    {{profile.name}}
{% endblock %}