{% extends 'c_base.html' %}
{% load static %}

{% block profile %}
    <img style="align-content: center; border: 1px solid white; " src="{{ profile.image.url}}" alt="This is profile picture">
{% endblock %}

{% block profileName %}
        <h5 style="text-transform: uppercase;">{{profile.name}}</h5>
{% endblock %}

{% block content %}
<br><h3 class="text-center">Educations List</h3><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Institution Name</th>
        <th scope="col">Degree</th>
        <th scope="col">Subject</th>
      </tr>
    </thead>
    
    <tbody>
    {% for i in education %}  
      <tr>
        <th scope="row">{{forloop.counter}} </th>
        <td>{{i.institution_name}}</td>
        <td>{{i.name_of_degree}}</td>
        <td>{{i.subject}}</td>
        <td><a class="btn btn-warning" href="{% url 'c-edit-education' i.id %}">Edit</a></td>
        <td><a class="btn btn-danger" href="{% url 'c-delete-education' i.id %}">Delete</a></td>
      </tr>
    {% endfor %}  
    </tbody>

  </table>
    
{% endblock %}

{% block rightsname %}
    {{user.username}}
{% endblock %}